.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
  min-height: 100vh;
  gap: 120px;
}


.targetCardGroup {
  display: flex;
  max-width: 800px;
  width: 100%;
}

.sparkleConnector {
  display: flex;
  flex: 1;
  align-items: center;
  align-self: center;
}


@media only screen and (max-width: 760px) {
  /* Styles to apply when the viewport width is 768 pixels or wider */
  .targetCardGroup {
    flex-direction: column;
    align-items: center;
  }
  .sparkleConnector {
    display: none;
  }

  
  .main  {
    padding-top: 32px;
    gap:32px
  }

  /* Additional styles can be added here for larger viewports */
}



.divider {
  flex: 1;
  height: 1px;
  background-color: var(--l-border);
}